$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;

$color-dark-green: #595F39;
$color-light-green: #C4C5BA;
$color-dark-grey: #ADADAD;
$color-medium-grey: #D9D9D9;
$color-black: #1B1B1B;
$color-green: #158463;
$color-instock-indigo: #2e66e5;
$color-cloud: #bdc5d5;
$color-light-grey: #f7f8f9;
$color-red: #c94515;
$color-white: #ffffff;

$font-titillium-reg-ttf: "../../assets/fonts/TitilliumWeb-Regular.ttf";
$font-titillium-semibold-ttf: "../../assets/fonts/TitilliumWeb-SemiBold.ttf";
$font-titillium-bold-ttf: "../../assets/fonts/TitilliumWeb-Bold.ttf";
