@import "../../../styles/variables";
@import "../../../styles/fonts";
 
.grid-header {
    @include section-header
}

.customTabsClass {
    @include section-header;
    background-color: $color-light-green;
    color: white;
    .Mui-selected {
        background-color: $color-dark-green;
        color: white !important;
    }
}
  
.customTabsClass .MuiTabs-indicator {
    background-color: white;
}

.TabContainer{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.InfoTextfield {
    background-color: $color-medium-grey;
    margin-bottom: 1rem !important;
}

.TextFieldHeader {
    color: $color-dark-grey;
}

.ProfilePicture {    
    height: 200px;
    margin-right: 2rem;
}

.ProfileHeaderCard {
    padding-inline: 3rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    
    @media (max-width: 514px) {
        flex-direction: column;
        img {
            margin-right: 0;
        }
        p:first-of-type {
            font-size: 40px;
        }
    }
}

.SubmitButton {
    color: white !important;
    width: 200px;
    margin-inline: auto !important;
    margin-top: 1rem !important;
    background-color: $color-dark-green !important;
}
  
  

  
